<div class="page-header">
  <%= link_to assets_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-all"></span>
    Back
  <% end %>
  <%= link_to edit_asset_path(@asset), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Asset</h1>
</div>

<dl class="dl-horizontal">
  <dt>Asset Name:</dt>
  <dd><%= @asset.name %></dd>  

  <dt>Purchase Date:</dt>
  <dd><%= @asset.purchase_date %></dd>

</dl>
<dl class="dl-horizontal">  
    <dt>Description:</dt>
    <% @asset.histories.each do |a| %>
      <dd><%= a.description %>  <%= a.date_history.try(:strftime, "%-d %B %Y") %></dd>
    <% end %>
</dl>


<%= render "histories/form" %>  



